@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* استدعاء CSS الخاص بـ Flowbite بعد Tailwind */
@import "flowbite/dist/flowbite.css";

body {
	font-family: var(--font-Tajawal);
}
.swiper-pagination-bullet {
	background-color: white !important;
	border: 1px solid white !important;
}

.swiper-pagination-bullet-active {
	background-color: #97280e !important;
}
.peer {
	padding: 25px 0;
}
.peer div {
	place-items: end !important;
	transform: translate-y-(50%) !important;
	-webkit-transform: translate-y-(50%) !important;
	-moz-transform: translate-y-(50%) !important;
	-ms-transform: translate-y-(50%) !important;
	-o-transform: translate-y-(50%) !important;
	left: 4 !important ;
	right: 90%;
	top: 25px;
}
.peer span {
	position: relative !important;
	direction: rtl;
	display: flex;
	align-items: center;
	right: 7px !important ;
}
.react-datepicker-wrapper,
.react-datepicker__input-container input {
	width: 100%;
	font-size: 16px;
}
